<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<body data-aos-easing="ease-out-back" data-aos-duration="1000" data-aos-delay="0" style>
	<!-- banner -->
	<!-- header -->
	<header>
		<!-- navigation -->
		<div class="main-top py-1 aos-init aos-animate" data-aos="fade-down">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container-fluid">
					<!-- logo -->
					<%= link_to image_tag("/assets/igire.png",  alt: "igire", class: "img-fluid", id: "logo"), index_path, class: "navbar-brand font-weight-bold" %>
					<!-- //logo -->
					<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				<div class="navbar-collapse text-center collapse" id="navbarSupportedContent" style="">
					<ul class="navbar-nav ml-lg-auto">
						<li class="nav-item active">
              <%= link_to "Home", index_path, class: "nav-link text-uppercase"%>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								About Us
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="display: none;">
                <%= link_to "Our Organization", about_path, class: "dropdown-item text-uppercase list-group-item active"  %>
                <%= link_to "Our Team", team_path, class: "dropdown-item text-uppercase list-group-item"  %>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Programs
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="display: none;">
                <%= link_to "SheCanCode", shecancode_path, class: "dropdown-item text-uppercase list-group-item"  %>
								<!-- <a class="dropdown-item text-uppercase list-group-item" href="#stats">Girls in ICT</a>
								<a class="dropdown-item text-uppercase  list-group-item" href="#">Kufandisha Rwanda Fellowship</a> -->
							</div>
						</li>
						<li class="nav-item">
              <%= link_to "Contact Us", contact_path, class: "nav-link text-uppercase"  %>
						</li>
						<li class="nav-item ml-lg-5 mt-lg-0 mt-sm-5 mt-4">
							<a href="#" class="reqe-button text-uppercase">Donate</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<!-- //navigation -->
</header>
<!-- //header -->
<div class="pages">
</div>
<!-- //banner -->


<!-- about -->
<section class="about py-5" id="about">
	<div class="container py-xl-5 py-lg-3">
		<%= image_tag("/assets/igire.png",  alt: "igire", class: "img-fluid") %>
		<h3 class="tittle text-center text-dark font-weight-bold">Igire Rwanda Organization (IRO)</h3>
		<div class="sub-tittle text-center mt-3 mb-sm-5 mb-4">
			<p>Igire Rwanda organization (IRO) is a non-governmental organization founded by Innocent Mbanda and co-founded by Jean-Jacques Iradukunda. The organization began in May 2016, as small group of young people interested in standing up to help other youth find work. Their goal was to help young people use the skills, talents and opportunities they have to create their own jobs. IRO started by providing trainings to young small business owners to help them learn the skills to better manage their businesses. Since then, IRO has grown and offers a variety of educational programs for young people, including SheCanCode, a 3-month programming bootcamp for girls.
			</p>
		</div>
	</div>
</section>
<!-- about -->

<!-- vision -->
<section class="about py-5" id="vision">
	<div class="container text-center py-xl-5 py-lg-3">
		<h3 class="tittle text-white font-weight-bold">Our Vision</h3>
		<p class="subtittle mt-3 mb-sm-5 mb-4">To provide every young Rwandan with the skills and opportunities to pursue the career and life that they want.</p>
	</div>
</section>
<!-- //vision -->


<!-- mission -->
<section class="about py-5" id="pricing">
	<div class="container text-center py-xl-5 py-lg-3">
		<h3 class="tittle text-dark font-weight-bold">Our Mission</h3>
		<p class="subtittle text-dark font-weight-bold">
			IRO's mission is to develop and implement programs for all Rwandan youth, especially those who come from disadvantaged backgrounds, to learn the necessary professional and technical skills to prepare them for the Rwandan job market.
		</p>
	</div>
</section>
<!-- //mission -->

<!-- //values -->
<section class="about py-5">
	<div class="container text-center py-xl-5 py-lg-3">
		<h3 class="tittle text-dark font-weight-bold">Our Values</h3>
		<div class="row mb-lg-4">
			<div class="col-lg-6 mt-xl-0 mt-lg-5 aos-init aos-animate" data-aos="fade-up">
				<img src="https://farm5.staticflickr.com/4518/38691556902_37c26f4baf_b.jpg" alt="" class="img-fluid img-about">
			</div>
			<div class="col-lg-5 ml-xl-4 mt-lg-3 mt-4 aos-init aos-animate" data-aos="fade-up">
				<h3 class="tittle text-dark font-weight-bold mb-4">Youth Development</h3>
				<p>Our goal is to work with youth to advance towards the United Nation's "2030 Agenda", a resolution with 17 global goals established in 2015 to further world sustainable development. These goals target different social and development issues, including health, hunger, education, and poverty. Each of our programs address one or more of these goals in our effort to join individuals and organisations around the world to improve the lives of all human beings.</p>
				<p>We believe that youth are key to this effort. Over 50% of the world's population is under the age of 30, while over 85% of those individuals are living in developing countries. There is massive potential for young people to create the change and development that the world needs right now.</p>
			</div>
		</div>
		<div class="row mb-lg-4">
			<div class="col-lg-6 mt-xl-0 mt-lg-5 aos-init aos-animate" data-aos="fade-up">
				<img src="https://farm5.staticflickr.com/4530/38691556182_b7affa993f_b.jpg" alt="" class="img-fluid img-about">
			</div>
			<div class="col-lg-5 ml-xl-4 mt-lg-3 mt-4 aos-init aos-animate" data-aos="fade-up">
				<h3 class="tittle text-dark font-weight-bold mb-4">Gender Empowerment</h3>
				<p>Gender equality and women’s empowerment have advanced in recent decades. Girls’ access to education has improved, the rate of child marriage has declined and significant progress has been made in the area of sexual and reproductive health and reproductive rights. Nevertheless, gender equality remains a persistent challenge for all countries worldwide and the lack of such equality is a major obstacle to sustainable development.</p>
			</div>
		</div>
	</div>
</section>



<!-- menu js -->
<script>
	$('.toggle').on('click', function() {
		$('.menu').toggleClass('open');
		$('.w3nav').toggleClass('show-w3nav');
		$('.w3nav a').toggleClass('show-w3nav-link');
		$('.toggle').toggleClass('close');
		$('.header-icon').toggle(800);
	});

	function readMore(){
		$('.project-descr').toggle(250);
	}
</script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();

			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
	$(document).ready(function() {
		/*
		var defaults = {
		containerID: 'toTop', // fading element id
		containerHoverID: 'toTopHover', // fading element hover id
		scrollSpeed: 1200,
		easingType: 'linear'
	};
	*/

	$().UItoTop({ easingType: 'easeOutQuart' });

});
</script>
</body>
</html>
