<!DOCTYPE html>
<html lang="en">
<body data-aos-easing="ease-out-back" data-aos-duration="1000" data-aos-delay="0" style>
	<!-- banner -->

	<header>
		<!-- navigation -->
		<div class="main-top py-1 aos-init aos-animate" data-aos="fade-down">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container-fluid">
					<!-- logo -->
					<%= link_to image_tag("/assets/igire.png",  alt: "igire", class: "img-fluid", id: "logo"), index_path, class: "navbar-brand font-weight-bold" %>
					<!-- //logo -->
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse text-center collapse" id="navbarSupportedContent" style="">
					<ul class="navbar-nav ml-lg-auto">
						<li class="nav-item active">
							<%= link_to "Home", index_path, class: "nav-link text-uppercase"%>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								About Us
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="display: none;">
								<%= link_to "Our Organization", about_path, class: "dropdown-item text-uppercase list-group-item"  %>
								<%= link_to "Our Team", team_path, class: "dropdown-item text-uppercase list-group-item"  %>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle text-uppercase" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Programs
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown" style="display: none;">
								<%= link_to "SheCanCode", shecancode_path, class: "dropdown-item text-uppercase list-group-item"  %>
								<!-- <a class="dropdown-item text-uppercase list-group-item" href="#stats">Girls in ICT</a>
								<a class="dropdown-item text-uppercase  list-group-item" href="#">Kufandisha Rwanda Fellowship</a> -->
							</div>
						</li>
						<li class="nav-item">
							<%= link_to "Contact Us", contact_path, class: "nav-link text-uppercase"  %>
						</li>
						<li class="nav-item ml-lg-5 mt-lg-0 mt-sm-5 mt-4">
							<a href="#" class="reqe-button text-uppercase">Donate</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<!-- //navigation -->
	</header>

	<div class="banner">
		<div class="container-fluid">
			<div class="row">
				<div class="style-banner text-center aos-init aos-animate" data-aos="zoom-in-left">
					<h1 class="text-white font-weight-bold">Welcome to IRO!</h1>
					<p class="mt-sm-4 mt-4 text-light"><p>IRO is an NGO founded by Innocent Mbanda and co-founder Jean-Jacques Iradukunda in May 2016. IRO began as small group of young people interested in working together to empower their peers. Their goal was to encourage youth to use their skills and talents to find, or create opportunities.</p>
					<%= link_to "Read More", about_path, class: "read-more btn button-style mt-sm-5 mt-4"%>
				</div>
			</div>
		</div>
	</div>


<!-- //banner -->


<!-- about -->

<section class="banner-bottom-w3layouts py-5" id="services">
	<div class="container py-xl-5 py-lg-3">
		<h3 class="tittle text-center text-dark font-weight-bold">What We Do</h3>
		<div class="row pt-lg-4 aos-init aos-animate" data-aos="zoom-in">
			<div class="col-lg-4 about-in text-center">
				<div class="card">
					<div class="card-body">
						<i class="fa fa-hand-rock-o" aria-hidden="true"></i>
						<h5 class="card-title mb-3">Empowerment</h5>
						<p class="card-text">We believe that all people should be empowered to live fulfilling lives. We empower young people to recognize their full potential and provide them with the chances to achieve their dreams.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 about-in text-center my-lg-0 my-3">
				<div class="card active">
					<div class="card-body">
						<i class="fa fa-laptop" aria-hidden="true"></i>
						<h5 class="card-title mb-3">Innovation</h5>
						<p class="card-text">We strive to turn crazy ideas into reality. We convert barriers into opportunities and give young people the access and means to innovate solutions to societal problems.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 about-in text-center">
				<div class="card">
					<div class="card-body">
						<i class="fa fa-users" aria-hidden="true"></i>
						<h5 class="card-title mb-3">Youth Leadership</h5>
						<p class="card-text">We cultivate youth leadership in our programs' design and implementation. We believe that young people are the leaders of today and tomorrow.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- welcome -->
<div class="middlesection-w3pvt-lau py-5" id="testi">
	<div class="container py-xl-5 py-lg-3">
		<div class="left-build-wthree aboutright-w3pvt-lauwthree">
			<div class="row text-center py-sm-3">
				<div class="col-md-3 col-6 w3layouts_stats_left w3_counter_grid aos-init aos-animate" data-aos="zoom-in">
					<p class="counter">120</p>
					<p class="para-text-w3ls text-light">Students Trained</p>
				</div>
				<div class="col-md-3 col-6 w3layouts_stats_left w3_counter_grid2 aos-init aos-animate" data-aos="zoom-in">
					<p class="counter">1200</p>
					<p class="para-text-w3ls text-light">Happy Customers</p>
				</div>
				<div class="col-md-3 col-6 w3layouts_stats_left w3_counter_grid1 mt-md-0 mt-4 aos-init aos-animate" data-aos="zoom-in">
					<p class="counter">400</p>
					<p class="para-text-w3ls text-light">Rates</p>
				</div>
				<div class="col-md-3 col-6 w3layouts_stats_left w3_counter_grid1 mt-md-0 mt-4 aos-init aos-animate" data-aos="zoom-in">
					<p class="counter">800</p>
					<p class="para-text-w3ls text-light">Awards Won</p>
				</div>
			</div>
		</div>
	</div>
</div>



<section class="about py-5" id="pricing">
	<div class="container py-xl-5 py-lg-3">
		<h3 class="tittle text-center text-dark font-weight-bold">SheCanCode</h3>
		<div class="row text-center">
			<%= image_tag("/assets/shecancode.png",  alt: "shecancode", class: "img-fluid") %>
		</div>
		<div class="row mb-lg-4">
			<p class="sub-tittle text-center mt-3 mb-sm-5 mb-4">Igire Rwanda Organization, in partnership with the US Embassy in Kigali, is providing a 3-month scholarship to 25 girls who are interested in pursuing a career in tech industry. Girls will be taught advanced programing languages such as HTML, CSS, and JavaScript to help them to become front-end software engineers. While students are responsible for their own laptops, the scholarship covers all other learning costs.</p>
		</div>
		<div class="row text-center">
			<%= link_to "Apply Now!", "https://docs.google.com/forms/d/e/1FAIpQLSc6dkdOcAfJToBCT7y-mnQwMi5aTmOIkMM3ZN93v7CHnsR30A/viewform?c=0&w=1", class: "read-more btn button-style mt-sm-5 mt-4"%>
		</div>
	</div>
</section>


<!-- //welcome -->
<!-- modal-about
<div class="modal bnr-modal fade" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body modal-spa">
				<h4>Igire Rwanda Organization (IRO)</h4>
				<p style="color: #000;">
					Igire Rwanda organization (IRO) is a non-government organization which has been founded by Innocent Mbanda and co-founder Jean-Jacques Iradukunda. Organization started in May 2016, as small group of young people interested in standing up to help other youth to work. Their goal was to encourage youth to stop questioning asking and looking for jobs instead use skills, talents and opportunities they have to create their own jobs. This small group of youth started by providing training to youth who have a small business in order to help them with skills to manage their business. The founder member was worried about the youth business which falls under loss at starting stage as they invested their small amount of their life savings. They started training and mentoring youth who did not have to school but have business with business skills.
					<br><br>
					August 15 2016, Innocent the Founder and Jean Jacques the Co-founder organized another team of youth who are a delight for the social and economic development of youth to come and work together. They started agreed to start an organization with the mission to assist youth to amass knowledge and skills that lead to their self-reliance and enable them to create opportunities for other youth.
					<br><br>
					Igire Rwanda Organization envisages a Rwandan society where youth can live a fulfilled life, and walk in the fullness of their potential.
					<br><br>
					<b>Empowerment:</b> We believe that every single individual in society needs empowerment. We create opportunities for the empowerment and full realisation of young people potential. IRO believes everyone in the community needs employment and it’s our jobs to creating an environment where everyone has an opportunity to create his/her own employment and full realisation of discovering his/her potential career.
					<br><br>
					<b>Innovation:</b> We strive to turn ideas into reality. We turn the walls an opportunity for young people to find solutions for their problems.
					<br><br>
					<b>Partnership:</b> We welcome everyone who cares and believes youth are the catalyst of social and economic development of our imminent
					<br><br>
					<b>Youth Leadership:</b> We value youth leadership in project design and implementation. We believe youth are leaders of today and tomorrow.
				</p>
			</div>
		</div>
	</div>
</div>
-->


<!-- //modal-about -->
<!-- trips -->
<!--<div class="trips">
<div class="container">
<div class="trips-agileinfo">
<div class="col-md-6 trip-agileitsimg">
</div>
<div class="col-md-6 trip-agileitstext welcome-w3lleft">
<h3>IRO Projects</h3>
<h5>Girls in ICT</h5>
<p>
Girls in ICT Project- Girls in ICT project is a project which is designed to help young girls who have dropped out the school due to different problems such as pregnancy, family problems and poverty gain access to the quality education which will help them to be job creators
</p>
<div id="owl-demo" class="owl-carousel owl-theme">
<div class="item agile-item project-img">
<img src="https://farm5.staticflickr.com/4529/37836197515_51cddd15a9_b.jpg" class="trip-w3img" alt=""/>
</div>
<div class="item agile-item project-img">
<img src="https://farm5.staticflickr.com/4582/38668188776_33a90f146a_b.jpg" class="trip-w3img" alt=""/>
</div>
<div class="item agile-item project-img">
<img src="https://farm5.staticflickr.com/4564/38668189316_c17742ee25_b.jpg" class="trip-w3img" alt=""/>
</div>
<div class="item agile-item project-img">
<img src="https://farm5.staticflickr.com/4530/38691556182_b7affa993f_b.jpg" class="trip-w3img" alt=""/>
</div>
<div class="item agile-item project-img">
<img src="https://farm5.staticflickr.com/4546/37836194745_9eb0e8d21f_b.jpg" class="trip-w3img" alt=""/>
</div>
<div class="item agile-item project-img">
<img src="https://farm5.staticflickr.com/4547/38668196006_75a6c97cf7_b.jpg" class="trip-w3img" alt=""/>
</div>
<div class="item agile-item project-img">
<img src="https://farm5.staticflickr.com/4582/37836192905_bfd81835ed_b.jpg" class="trip-w3img" alt=""/>
</div>
<div class="item agile-item project-img">
<img src="https://farm5.staticflickr.com/4569/37836195625_773ce16678_b.jpg" class="trip-w3img" alt=""/>
</div>
<div class="item agile-item project-img">
<img src="https://farm5.staticflickr.com/4524/38668186246_715b485766_b.jpg" class="trip-w3img" alt=""/>
</div>
<div class="item agile-item project-img">
<img src="https://farm5.staticflickr.com/4518/38691556902_37c26f4baf_b.jpg" class="trip-w3img" alt=""/>
</div>
</div>
<script>
$(document).ready(function() {
$("#owl-demo").owlCarousel({
autoPlay: 3000, //Set AutoPlay to 3 seconds

items : 3,
itemsDesktop : [768,3],
itemsDesktopSmall : [414,4]

});

});
</script>
</div>
<div class="clearfix"> </div>
</div>
</div>
</div>
<!-- //trips -->
<!-- news -->
<!-- <
<div class="news">
<div class="container">
<h3 class="w3agileits-title">SheCanCode Program</h3>
div class="new-agileinfo">
<div class="col-md-4 news-left">
<ul id="demo1_thumbs" class="list-inline">
<li><a href="images/img2.jpg"><img src="images/i1.jpg" alt="" data-desoslide-caption="<h3>Maecenas aliqua</h3> <br>Eligendi optio nam libero tempore cum soluta nobis est cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis optio cumque nihil impedit quo minus id quod maxime placeat facere possimus">
<div class="news-w3text">
<h4>Maecenas aliqua</h4>
<h6><i class="fa fa-calendar" aria-hidden="true"></i> 05 / 09 / 2016</h6>
<p>Integer viverra eleifend neque, duis vulputate tempus laoreet. </p>
</div>
</a></li>
<li><a href="images/img1.jpg"><img src="images/i1.jpg" alt="" data-desoslide-caption="<h3>Facere possimus </h3> <br>Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis optio cumque nihil impedit quo minus id quod maxime placeat facere possimus">
<div class="news-w3text">
<h4>Facere possimus</h4>
<h6><i class="fa fa-calendar" aria-hidden="true"></i> 05 / 09 / 2016</h6>
<p>Aliquam erat volutpat. Duis vulputate tempus laoreet.</p>
</div>
</a></li>
<li><a href="images/img3.jpg"><img src="images/i3.jpg" alt="" data-desoslide-caption="<h3>Nulla molestie</h3> <br>Nam libero tempore cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis optio cumque nihil impedit quo minus id quod maxime placeat facere possimus">
<div class="news-w3text">
<h4>Nulla molestie</h4>
<h6><i class="fa fa-calendar" aria-hidden="true"></i> 05 / 09 / 2016</h6>
<p>Aliquam erat volutpat. Duis vulputate tempus laoreet.</p>
</div>
</a></li>
<li><a href="images/img4.jpg"><img src="images/i4.jpg" alt="" data-desoslide-caption="<h3>Duis accumsan</h3> <br>Eligendi optio nam libero tempore cum soluta nobis est cumque nihil impedit quo minus id quod maxime placeat facere possimus omnis optio cumque nihil impedit quo minus id quod maxime placeat facere possimus">
<div class="news-w3text">
<h4>Duis accumsan</h4>
<h6><i class="fa fa-calendar" aria-hidden="true"></i> 05 / 09 / 2016</h6>
<p>Integer viverra eleifend neque, duis vulputate tempus laoreet. </p>
</div>
</a></li>
</ul>
</div>
<div id="demo1_main_image" class="col-md-8  news-right">

</div>
-->
<script>
	$('#demo1_thumbs').desoSlide({
		main: {
			container: '#demo1_main_image',
			cssClass: 'img-responsive'
		},
		effect: 'sideFade',
		caption: true
	});
</script>
<!-- //news -->

<!-- menu js -->
<script>
	$('.toggle').on('click', function() {
		$('.menu').toggleClass('open');
		$('.w3nav').toggleClass('show-w3nav');
		$('.w3nav a').toggleClass('show-w3nav-link');
		$('.toggle').toggleClass('close');
		$('.header-icon').toggle(800);
	});
</script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();

			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
	$(document).ready(function() {
		/*
		var defaults = {
		containerID: 'toTop', // fading element id
		containerHoverID: 'toTopHover', // fading element hover id
		scrollSpeed: 1200,
		easingType: 'linear'
	};
	*/

	$().UItoTop({ easingType: 'easeOutQuart' });

});
</script>
<script type="text/javascript">
	$('.obj-icon-1').on({
		mouseover: function(){
			$('.objective')[0].show();
		}
	})
</script>
</body>
</html>
